Для загрузки данных

In [1]:
pip install openpyxl psycopg2-binary pandas

Requirement already satisfied: openpyxl in /usr/local/anaconda3/lib/python3.12/site-packages (3.1.2)
Collecting psycopg2-binary
  Downloading psycopg2-binary-2.9.10.tar.gz (385 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 385.8/385.8 kB 2.2 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: et-xmlfile in /usr/local/anaconda3/lib/python3.12/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/local/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Building wheels for collected packages: psycopg2-binary
  Building wheel for psycopg2-binary (setup.py) ... done
  Created wheel for psycopg2-binary: filename=psycopg2_binary-2.9.10-cp312-cp312-macosx_10_15_x86_64.whl size=135260 sha256=dd0fcc027392608c05426c959c6b2c3811ec17ebdd51ebfe13ed3e3f827a5266
  Stored in directory: /Users/lulu-markov/Library/Caches/pip/wheels/06/bc/a4/bad5bdabd4cf012a00e927db042e0e44d3a649596c548212be
Successfully built psycopg2-binary
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [21]:
import openpyxl
from psycopg2 import connect
import pandas as pd
from psycopg2.extras import execute_batch

In [25]:
def get_connection():
    return connect(
        host="ai-yp.fly.dev",
        database="postgres",
        user="postgres",
        password="yqR4y9PO0UqYNM8"
    )

## Уровень бедности

In [80]:
df = pd.read_excel('UROV_52.xlsx', sheet_name='по РФ и субъектам РФ 2018-2023', header=0, index_col=0)
df.head()

                      2018  2019  2020  2021  2022  2023
Region
Белгородская область   7.5   7.8   7.2   7.0   6.0   5.6
Брянская область      13.6  13.8  13.6  13.0  11.4  11.4
Владимирская область  13.1  12.7  12.6  12.0   9.8   9.3
Воронежская область    8.9   8.9   8.5   7.9   6.9   6.7
Ивановская область    14.2  13.6  13.1  12.2  10.2   9.7

In [81]:
regions = df.index.tolist()
years = pd.to_datetime(df.columns.astype(str), format='%Y').tolist()
print(regions)
print(years)
# values = [(region, year, value) for region in regions for year, value in zip(years, df.loc[region])]
# print (values)

['Белгородская область', 'Брянская область', 'Владимирская область', 'Воронежская область', 'Ивановская область', 'Калужская область', 'Костромская область', 'Курская область ', 'Липецкая область', 'Московская область ', 'Орловская область', 'Рязанская область', 'Смоленская область', 'Тамбовская область', 'Тверская область', 'Тульская область', 'Ярославская область ', 'г. Москва']
[Timestamp('2018-01-01 00:00:00'), Timestamp('2019-01-01 00:00:00'), Timestamp('2020-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), Timestamp('2022-01-01 00:00:00'), Timestamp('2023-01-01 00:00:00')]

In [82]:
data = []
for region in regions:
    for year, value in zip(years, df.loc[region]):
        data.append({
            'Region': region,
            'Year': year.strftime('%Y-%m-%d'),
            'poverty_percent': value
        })
df_poverty = pd.DataFrame(data)
df_poverty['Region'] = df_poverty['Region'].str.strip()
df_poverty.head()

                 Region        Year  poverty_percent
0  Белгородская область  2018-01-01              7.5
1  Белгородская область  2019-01-01              7.8
2  Белгородская область  2020-01-01              7.2
3  Белгородская область  2021-01-01              7.0
4  Белгородская область  2022-01-01              6.0

In [83]:
df_poverty.to_csv('poverty.csv', index=False, encoding='utf-8-sig')

## количество свалок

In [34]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 1.0 MB/s eta 0:00:00a 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [84]:
df_2 = pd.read_excel('number_of_landfills.xls', sheet_name='Данные', header=0, index_col=0)
# df_2 = df_2.rename_axis('Region')
df_2.index = df_2.index.astype(str).str.replace('\t', '').astype(object)
df_2.head()

                       2020  2021  2022  2023
Белгородская область     34   178   203   207
Брянская область          8    30    22     9
 Владимирская область   130    71   105   104
 Воронежская область     61    84    55    54
Ивановская область        0    20    36    14

In [85]:
regions_2 = df_2.index.tolist()
years_2 = pd.to_datetime(df_2.columns.astype(str), format='%Y').tolist()
print(regions_2)
print(years_2)

['Белгородская область', 'Брянская область', ' Владимирская область', ' Воронежская область', 'Ивановская область', 'Калужская область', 'Костромская область', 'Курская область', 'Липецкая область', 'Московская область', 'Орловская область', 'Рязанская область', 'Смоленская область', 'Тамбовская область', 'Тверская область', 'Тульская область', 'Ярославская область', 'г. Москва ']
[Timestamp('2020-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00'), Timestamp('2022-01-01 00:00:00'), Timestamp('2023-01-01 00:00:00')]

In [86]:
data = []
for region in regions_2:
    for year, value in zip(years_2, df_2.loc[region]):
        data.append({
            'Region': region,
            'Year': year.strftime('%Y-%m-%d'),
            'number_of_landfills': value
        })
df_number_of_landfills = pd.DataFrame(data)
df_number_of_landfills['Region'] = df_number_of_landfills['Region'].str.strip()
df_number_of_landfills.head()

                 Region        Year  number_of_landfills
0  Белгородская область  2020-01-01                   34
1  Белгородская область  2021-01-01                  178
2  Белгородская область  2022-01-01                  203
3  Белгородская область  2023-01-01                  207
4      Брянская область  2020-01-01                    8

In [87]:
result = pd.merge(df_poverty, df_number_of_landfills, on=['Region', 'Year'], how='outer')
result.head()

                 Region        Year  poverty_percent  number_of_landfills
0  Белгородская область  2018-01-01              7.5                  NaN
1  Белгородская область  2019-01-01              7.8                  NaN
2  Белгородская область  2020-01-01              7.2                 34.0
3  Белгородская область  2021-01-01              7.0                178.0
4  Белгородская область  2022-01-01              6.0                203.0

In [89]:
result.to_csv('result.csv', index=False, encoding='utf-8-sig')

In [29]:
# conn = get_connection()
# cur = conn.cursor()

# try:
#     # Prepare the INSERT statement
#     query = """
#     INSERT INTO peverty_level (region, year, value)
#     VALUES (%s, %s, %s)
#     """

#     # Execute the INSERT statements in batches
#     execute_batch(cur, query, values, page_size=100)

#     # Commit the transaction
#     conn.commit()
#     print(f"Successfully inserted {len(values)} rows into peverty_level.")

# except psycopg2.Error as e:
#     print(f"An error occurred: {e}")
#     conn.rollback()
    
# finally:
#     cur.close()
#     conn.close()

Successfully inserted 108 rows into peverty_level.

## Доходы населения

In [102]:
df_3 = pd.read_excel('money.xls', sheet_name='Данные', header=[3, 4], index_col=0)
df_3 = df_3.rename_axis('Region')
# df_3.index = df_3.index.astype(str).str.replace('\t', '').astype(object)
df_3.head()

                                2015                                         \
                              январь февраль   март I квартал апрель    май
Region
Центральный федеральный округ  27819   36528  37588     33936  40800  36156
    Белгородская область       19974   23036  25684     24255  29633  27894
    Брянская область           17162   22801  23605     19838  26075  25251
    Владимирская область       17456   23212  23344     20868  25380  21665
    Воронежская область        20482   28276  27490     25457  30732  26303

                                                               ...      2022  \
                                июнь II квартал   июль август  ... I квартал
Region                                                         ...
Центральный федеральный округ  38045      37950  38348  35843  ...     54272
    Белгородская область       27814      27107  27881  30124  ...     33250
    Брянская область           25440      23961  27644  25495  ...     30745
    Владимирская область       23168      21768  24200  22148  ...     30037
    Воронежская область        27669      27821  30868  29762  ...     33291

                                                                     2023  \
                              II квартал III квартал IV квартал I квартал
Region
Центральный федеральный округ      60536       61249      74365     60253
    Белгородская область           41805       31512      59657     38176
    Брянская область               35592       37535      45061     33841
    Владимирская область           33372       31521      42876     35821
    Воронежская область            39099       41280      50333     37612

                                                                     2024  \
                              II квартал III квартал IV квартал I квартал
Region
Центральный федеральный округ      66414       69498      89123     71058
    Белгородская область           44398       43210      62087     45465
    Брянская область               35975       40162      51506     40094
    Владимирская область           37606       35729      44413     41355
    Воронежская область            41789       44524      55492     45349


                              II квартал
Region
Центральный федеральный округ      77256
    Белгородская область           53096
    Брянская область               42671
    Владимирская область           44657
    Воронежская область            49227

[5 rows x 86 columns]

In [101]:
regions_3 = df_3.index.tolist()
years_3 = pd.to_datetime(df_3.columns.astype(str), format='%Y').tolist()
print(regions_3)
print(years_3)

['    Центральный федеральный округ', '        Белгородская область', '        Брянская область', '        Владимирская область', '        Воронежская область', '        Ивановская область', '        Калужская область', '        Костромская область', '        Курская область', '        Липецкая область', '        Московская область', '        Орловская область', '        Рязанская область', '        Смоленская область', '        Тамбовская область', '        Тверская область', '        Тульская область', '        Ярославская область', '        Город Москва столица Российской Федерации город федерального значения']

In [115]:
def get_num_month(m: str) -> str:
    if m == 'январь':
        return '01'
    if m == 'февраль':
        return '02'
    if m == 'март':
        return '03'
    if m == 'апрель':
        return '04'
    if m == 'май':
        return '05'
    if m == 'июнь':
        return '06'
    if m == 'июль':
        return '07'
    if m == 'август':
        return '08'
    if m == 'сенябрь':
        return '09'
    if m == 'октябрь':
        return '10'
    if m == 'ноябрь':
        return '11'
    if m == 'декабрь':
        return '12'
    return m

years_months = []
for col in df_3.columns:
    year = pd.to_datetime(col[0], format='%Y')
    month = get_num_month(col[1])
    years_months.append((year, month))

print(years_months)

[(Timestamp('2015-01-01 00:00:00'), '01'), (Timestamp('2015-01-01 00:00:00'), '02'), (Timestamp('2015-01-01 00:00:00'), '03'), (Timestamp('2015-01-01 00:00:00'), 'I квартал'), (Timestamp('2015-01-01 00:00:00'), '04'), (Timestamp('2015-01-01 00:00:00'), '05'), (Timestamp('2015-01-01 00:00:00'), '06'), (Timestamp('2015-01-01 00:00:00'), 'II квартал'), (Timestamp('2015-01-01 00:00:00'), '07'), (Timestamp('2015-01-01 00:00:00'), '08'), (Timestamp('2015-01-01 00:00:00'), 'сентябрь'), (Timestamp('2015-01-01 00:00:00'), 'III квартал'), (Timestamp('2015-01-01 00:00:00'), '10'), (Timestamp('2015-01-01 00:00:00'), '11'), (Timestamp('2015-01-01 00:00:00'), '12'), (Timestamp('2015-01-01 00:00:00'), 'IV квартал'), (Timestamp('2016-01-01 00:00:00'), '01'), (Timestamp('2016-01-01 00:00:00'), '02'), (Timestamp('2016-01-01 00:00:00'), '03'), (Timestamp('2016-01-01 00:00:00'), 'I квартал'), (Timestamp('2016-01-01 00:00:00'), '04'), (Timestamp('2016-01-01 00:00:00'), '05'), (Timestamp('2016-01-01 00:00:00'), '06'), (Timestamp('2016-01-01 00:00:00'), 'II квартал'), (Timestamp('2016-01-01 00:00:00'), '07'), (Timestamp('2016-01-01 00:00:00'), '08'), (Timestamp('2016-01-01 00:00:00'), 'сентябрь'), (Timestamp('2016-01-01 00:00:00'), 'III квартал'), (Timestamp('2016-01-01 00:00:00'), '10'), (Timestamp('2016-01-01 00:00:00'), '11'), (Timestamp('2016-01-01 00:00:00'), '12'), (Timestamp('2016-01-01 00:00:00'), 'IV квартал'), (Timestamp('2017-01-01 00:00:00'), '01'), (Timestamp('2017-01-01 00:00:00'), '02'), (Timestamp('2017-01-01 00:00:00'), '03'), (Timestamp('2017-01-01 00:00:00'), 'I квартал'), (Timestamp('2017-01-01 00:00:00'), '04'), (Timestamp('2017-01-01 00:00:00'), '05'), (Timestamp('2017-01-01 00:00:00'), '06'), (Timestamp('2017-01-01 00:00:00'), 'II квартал'), (Timestamp('2017-01-01 00:00:00'), '07'), (Timestamp('2017-01-01 00:00:00'), '08'), (Timestamp('2017-01-01 00:00:00'), 'сентябрь'), (Timestamp('2017-01-01 00:00:00'), 'III квартал'), (Timestamp('2017-01-01 00:00:00'), '10'), (Timestamp('2017-01-01 00:00:00'), '11'), (Timestamp('2017-01-01 00:00:00'), '12'), (Timestamp('2017-01-01 00:00:00'), 'IV квартал'), (Timestamp('2018-01-01 00:00:00'), '01'), (Timestamp('2018-01-01 00:00:00'), '02'), (Timestamp('2018-01-01 00:00:00'), '03'), (Timestamp('2018-01-01 00:00:00'), 'I квартал'), (Timestamp('2018-01-01 00:00:00'), '04'), (Timestamp('2018-01-01 00:00:00'), '05'), (Timestamp('2018-01-01 00:00:00'), '06'), (Timestamp('2018-01-01 00:00:00'), 'II квартал'), (Timestamp('2018-01-01 00:00:00'), '07'), (Timestamp('2018-01-01 00:00:00'), '08'), (Timestamp('2018-01-01 00:00:00'), 'сентябрь'), (Timestamp('2018-01-01 00:00:00'), 'III квартал'), (Timestamp('2018-01-01 00:00:00'), '10'), (Timestamp('2018-01-01 00:00:00'), '11'), (Timestamp('2018-01-01 00:00:00'), '12'), (Timestamp('2018-01-01 00:00:00'), 'IV квартал'), (Timestamp('2019-01-01 00:00:00'), 'I квартал'), (Timestamp('2019-01-01 00:00:00'), 'II квартал'), (Timestamp('2019-01-01 00:00:00'), 'III квартал'), (Timestamp('2019-01-01 00:00:00'), 'IV квартал'), (Timestamp('2020-01-01 00:00:00'), 'I квартал'), (Timestamp('2020-01-01 00:00:00'), 'II квартал'), (Timestamp('2020-01-01 00:00:00'), 'III квартал'), (Timestamp('2020-01-01 00:00:00'), 'IV квартал'), (Timestamp('2021-01-01 00:00:00'), 'I квартал'), (Timestamp('2021-01-01 00:00:00'), 'II квартал'), (Timestamp('2021-01-01 00:00:00'), 'III квартал'), (Timestamp('2021-01-01 00:00:00'), 'IV квартал'), (Timestamp('2022-01-01 00:00:00'), 'I квартал'), (Timestamp('2022-01-01 00:00:00'), 'II квартал'), (Timestamp('2022-01-01 00:00:00'), 'III квартал'), (Timestamp('2022-01-01 00:00:00'), 'IV квартал'), (Timestamp('2023-01-01 00:00:00'), 'I квартал'), (Timestamp('2023-01-01 00:00:00'), 'II квартал'), (Timestamp('2023-01-01 00:00:00'), 'III квартал'), (Timestamp('2023-01-01 00:00:00'), 'IV квартал'), (Timestamp('2024-01-01 00:00:00'), 'I квартал'), (Timestamp('2024-01-01 00:00:00'), 'II квартал')]

In [117]:
data = []
for region in regions_3:
    for (year, month), value in zip(years_months, df_3.loc[region]):
        data.append({
            'Region': region,
            'Year': year.strftime('%Y'),
            'Month': month,
            'value_rub': value
        })
df_money = pd.DataFrame(data)
df_money['Region'] = df_money['Region'].str.strip()
df_money.head()

                          Region  Year      Month  value_rub
0  Центральный федеральный округ  2015         01      27819
1  Центральный федеральный округ  2015         02      36528
2  Центральный федеральный округ  2015         03      37588
3  Центральный федеральный округ  2015  I квартал      33936
4  Центральный федеральный округ  2015         04      40800

In [123]:
df_money.loc[df_money['Region'] == 'Город Москва столица Российской Федерации город федерального значения', 'Region'] = 'г. Москва'
df_money.head()

                          Region  Year      Month  value_rub
0  Центральный федеральный округ  2015         01      27819
1  Центральный федеральный округ  2015         02      36528
2  Центральный федеральный округ  2015         03      37588
3  Центральный федеральный округ  2015  I квартал      33936
4  Центральный федеральный округ  2015         04      40800

In [124]:
df_money.to_csv('money.csv', index=False, encoding='utf-8-sig')